.search-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
}

.search-cart-container h2 {
    margin-right: 200px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    font-size: 14px;
    border: 1px solid #14A0E6;
    border-radius: 10px;
}