.custom-navbar .dropdown-menu .dropdown-item {
  list-style-type: none; /* Убирает маркер (точку) */
}

.custom-navbar {
    background-color: #ffffff;
  }
  
.ms-auto {
  text-decoration: none;
}

.custom-dropdown-title {
  font-weight: bold;
  color: white;
  font-size: 20px;
}